@font-face {
    font-family: 'Panchang-Bold';
    src: url('../fonts/Panchang-Bold.woff2') format('woff2'),
         url('../fonts/Panchang-Bold.woff') format('woff'),
         url('../fonts/Panchang-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



  .fill-gradient {
     fill: linear-gradient(95deg, #063 9.66%, #95C11F 127.64%);
   }
   

   input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}